<!DOCTYPE html>
<head>

</head>
<body>

<form action="/editPost/<%=post.id %>?_method=PUT" method="POST">
<input type="text" name="title" value="<%- post.title %>" required><br />
<!-- <input type="text" name ="post" value="<%- post.post %>" required> -->
<input type="textarea" name="post" value="<%- post.post %>"required>
<br />
<button>Edit this post</button>
</form>


	<form method="POST" action="/editPost/<%= post.id %>?_method=DELETE">
		<button>erase the entire post</button>
	</form>
</body>
</html>