<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="<link href='http://fonts.googleapis.com/css?family=Pinyon+Script">
<style>
	body {
		background-image: url("http://olddesignshop.com/wp-content/uploads/2014/07/OldDesignShop_Dragonfly.jpg");

		font-family: "Pinyon Script", cursive;
		font-size: 30px;
		padding: 30px;

	}
</style>
<h4>Do not spill your words unwisely</h4>
</head>
<body>

<form action="/editPost/<%=post.id %>?_method=PUT" method="POST">
<input type="text" name="title" value="<%- post.title %>" required><br />
<!-- <input type="text" name ="post" value="<%- post.post %>" required> -->
<input type="textarea" name="post" value="<%- post.post %>"required>
<br />
<button>Edit this post</button>
</form>


	<form method="POST" action="/editPost/<%= post.id %>?_method=DELETE">
		<button>Erase the entire post</button>
	</form>
</body>
</html>